body{
	background-color: #eaf0ce; 
	margin: 0;
	font-family: "Lora", serif;
	color: #443850;
	z-index: -4;
}

img{
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
}

a{
	text-decoration: none;
	color: #443850;
}

a:hover{
	color: #d4421e;
}

.dark a{
	color:#c0c5c1;
}
.dark a h2{
	background-color: #bbbe64;
}

.dark a:hover{
	color: #d4421e;
}

.header{
	padding: 20px 10%;
	background-color: #bbbe64;
	text-align: center;
	position: relative;
	z-index:4;
}

.fixedHeader{
	padding: 0 10%;
	background-color: #bbbe64;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	width: 80%;
	z-index: 2;
}

.headerLink{
	padding-top: 8px;
}

.headerLink:hover{
	background-color: #a8ab63;
}

.content{
	background-color: #7d8491;
	margin: 0 10% 0 10%;
	box-shadow: 0 -10px 80px 10px;
	position: relative;
	z-index: 1;
}

section{
	color: #c0c5c1;
}

section .icons{
	padding: 0;
	text-align: center;
}

section .dark{
	background-color: #443850;
	padding: 23px 2%;
}

section .light{
	background-color: #7d8491;
	padding: 23px 2%;
	height: auto;
}

.flexContainer{
	height: auto;
	display: flex;
}

.flexChild{
	flex: 1;
}
.flexIcon{
	background-color: #393042;
	margin: 15%;
	padding: 5%;
	display: flex;
	flex: 1;
	width: 60%;
	border-radius: 5px;
}


@media (max-width: 1050px){
	.content{
		margin: 0;
	}
	
}

@media (max-width: 950px){
	.header h2{
		line-height: 2.5em;
		font-size: 1.1em;
	}
}

@media (max-width: 767px){
	.mobile{
	display: block;
	}

	.desktop{
		display: none;
	}
	
	.midwidth{
		display: none;
	}
	.header h2{
		font-size: 1em;
		line-height: 0;
	}
	
	.fixedHeader h2{
		font-size: 1em;
		line-height: 3.5em;
	}
	
	.headerLink{
		padding-top: 0;
	}
}

@media (max-width: 500px){
	.fixedHeader h2{
		font-size: 0.8em;
		line-height: 4.5em;
	}
}

@media (min-width: 767px){
	.mobile{
		display: none;
	}
}


.boldUnderline{
	font-weight: 600;
	text-decoration: underline;
	color: #443850;
}

.portfolioDiv{
	padding:10px;
}

.portfolioLink{
	color:#c0c5c1;
	width: 100%;
	text-align: center;
	font-weight: 600;
}

.portfolioLink p{
	background-color: black;
	padding: 5px 0;
	border-radius: 5px;
}

.portfolioLink p:hover{
	background-color: #443850;
	color: black;
}

.odd{
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.27);
}

.even{
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.08);
}