/*Global text styling*/
body {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #de9309;
}

h1 {
	text-align: center;
}

h2 {
	
}

h3 {
	
}

p {
	
}

a {
	color: black;
	text-decoration: none;
}

a:hover{
	color: #de9309;
}

img {
	width: 100%;
}

.breakOut {
	padding: 0 0;
	position: fixed;
	left: 0;
	background-color: #c1c1c1;
	width: 100%;
}


.desktopHeader {
	height: 70px;
	line-height: 22px;
	top: 0;
	display: none;
}

.mobileHeader {
	line-height: 22px;
	top: 0;
}

.mainContent {
	padding: 143px 6%;
	background-color: #fff;
	margin: 0 10%;
	box-shadow: 0 0 150px -25px;
	min-height: 1100px;
}

.footer {
	bottom: 0;
}

/*Flexbox stylings*/

.flexParent {
	display: flex;
	height: 100%
}

.flexTitle {
	flex: 12;
	padding: 0px 0px;
	line-height: 34px;
	font-weight: 600;
}

.flexTitle:hover {
	flex: 13;
	background-color: #cecece;
}

.flexChild {
	flex: 6;
	padding: 0px 0px;
	line-height: 0px;
	font-weight: 600;
}

.flexChild:hover {
	flex: 7;
	background-color: #cecece;
}
.flexText {
	text-align: center;
	font-size: 18px;
}

.indentParagraph {
	text-indent: 2rem;
}
/*Responsivity*/

@media (max-width:1000px) {
	.mainContent{
		margin: 0;
		box-shadow: none;
		min-height: 1100px;
	}
	.breakOut {
		padding: 0 6%;
		width: 88%;
	}
}

@media screen and (min-width: 725px) {
	.mobileHeader {
		display: none;
	}
	
	.desktopHeader {
		display: block;
	}
	
	.mainContent {
		padding: 100px 6%;
	}
	
	.flexChild {
		line-height:34px;
	}
	
	.flexText {
		font-size: 20px;
	}
	
	.breakOut {
		padding: 0 10.5%;
		width: 79%;
	}
}

/*Tabs*/

.tab-links {
    border-bottom:solid thick;
}

.tab-links:after {
        display:block;
        clear:both;
        content:'';
}

.tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#edf1f2;
            font-size:16px;
            font-weight:600;
            color:gray;
            transition:all linear 0.15s;
        }
 
        .tab-links a:hover {
            background:#3bc0c3;
            text-decoration:none;
            color:white;
        }
 
    li.active a, li.active a:hover {
        background:#3bc0c3;
        color:white;
    }
 
    /*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;